*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: azure;
}

.container{
  margin: 100px 0;
}

.container .searchInput{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container .searchInput input{
  width: 50%;
  outline: none;
  padding: 10px;
}

.container .cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
}



.container .cards .cardContent h2{
  margin-top: 10px;
  color: black;
  font-weight: 700;
  font-size: 35px;
}
.container .cards .cardContent{
  text-align: center;
  margin: 20px;
  padding: 0 10px;
  background-color: rgb(239, 246, 145) ;
}

.container .cards .cardContent p{
  margin-top: 5px;
  color: rgb(95, 125, 50);
  font-weight: 500;
  font-size: 25px;
}

.container .cards .cardContent img{
  width: 250px;
  height: 300px;

}